<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a message from <%= @contact["email"] %>!</p>
    Message:<br>
    ----------
    </p>
    <p><%= @contact["message"] %>.</p>
  </body>
</html>